* {
    margin: 0;
    padding: 0;
}
.background {
    background-color: #000000;
}
/* Navigation Bar */
.navbar {
    display: flex;
    height: 5%;
    width: 100%;
    border-bottom: 0.5px solid #242628;
    padding: 1rem 0 1rem 0;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter';
}
.homelogo {
    color: #fff;
    font-size: 1.25em;
    padding-left: 2.5rem;
}
.menubtns {
    padding-right: 2.5rem;
}
.menubtns li {
    list-style-type: none;
    display: inline-block;
}
.menubtns li a {
    font-size: 0.75em;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 2rem 0.5rem 2rem;
}
/* Footer */
.footer {
    color: #fff;
    border-top: 0.5px solid #242628;
    margin: 1rem;
}

.footer img {
    margin: 1rem 0 0 0;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 1rem;
}
/*======== Home =========*/
/* Name logo */
.namelogo {
    padding-top: 1rem;
    font-size: 7em;
    text-align: center;
    font-family: 'Clash Display';
    color: #fff;
}
.firstname {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    fill: none;
}
.lastname {
    -webkit-text-fill-color:#fff;
}
/* Intro */
.introbg {
    position:absolute;
    color: white;
    background-color: black;
    display: flex;
    height: 45vh;
    width: 100vw;
    justify-content: space-between;
    overflow: hidden;
}
.introbg ul li {
    list-style-type: none;
    flex-direction: column;
    padding-bottom: 1rem;
}
.introbg img {
    height: 50vh;
    width: 30vw;
    border-radius: 10px;
}
.first-col {
    margin-left: -2rem;
    margin-top: -12.5rem;
}
.middle-col {
    margin-top: -18rem;
}
.middle-col img {
    height: 40vh;
    width: 42vw;
    border-radius: 10px;
}
.last-col {
    margin-right: -2rem;
    margin-top: -12.5rem;
}
.fadetop {
    position: absolute;
    background-image: linear-gradient(to top, rgba(255,255,255,0), rgb(0, 0, 0) 99%);
    width: 100%;
    height: 50vh;
}
.fadebottom {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgb(0, 0, 0) 99%);
    width: 100%;
    height: 50vh;
}
.text {
    position: absolute;
    display: flex;
    color: #fff;
    align-self: flex-end;
    text-align: center;
    padding: 0rem 5rem 2.5rem 5rem;
    font-size: 2em;
    font-family: 'Clash Display';
}
/*======== Blog =========*/
.blogheader {
    font-size: 3em;
    text-align: center;
    padding: 1.5rem 0 0 0;
}
.categories {
    color: #8b9399;
    display: flex;
    margin: -.20rem 0 0 0;
}
.categories p {
    font-size: 0.25em;
    border: 0.5px solid #242628;
    font-family: "Clash Display";
    border-radius: 2.5px;
    margin: 0 0 0 1rem;
    padding: 0.15rem;
}
.blog {
    padding-top: 1.5rem;
}
.blogcontainer {
    color: #fff;
    height: 100vh;
    width: 90vw;
    margin: auto;
    padding-bottom: 2.5rem;
}
.post {
    position: relative;
    display: inline-flex;
    height: 50vh;
    width: 43.80vw;
}
.post2 {
    padding-top: 0.5rem;
    position: relative;
    display: inline-flex;
    height: 50vh;
    width: 43.80vw;
}
.post img, .post2 img {
    width: 100%;
    height: 97.5%;
    border-radius: 5px;
}
.post a, .post2 a {
    width: 97.5%;
}
.posttitle {
    position: absolute;
    display: inline-block;
    align-self: flex-end;
    margin: 0 15rem 2.5rem 2rem;
    font-family: "Clash Display";
}
.blogpage {
    color: #fff;
    font-family: "Clash Display";
    width: 70vw;
    margin: 5rem 0 0 5rem;
    border: 1px solid #36393c;
    border-radius: 1rem;
    overflow: hidden;
    padding-bottom: 1rem;
}
.blogtitle {
    font-size: 3em;
    margin: 1rem 0 0 2rem;
}
.blogbox {
    padding: 5rem 0 1rem 2.5rem;
    border-bottom: 1px solid #36393c;
    background-image: linear-gradient(to left, rgba(0, 0, 96, 0.411), rgb(0, 0, 0) 50%);
}
.blogfooter {
    padding: 1rem 0 1rem 2.5rem;
    border-top: 1px solid #36393c;
}
.miniheader {
    display: flex;
    margin: 0 0 0 1.5rem;
}
.miniheader p {
    font-size: 0.75rem;
    color: #8b9399;
    margin: 0 0.5rem 0 0.5rem;
}
.blog {
    margin: 1rem 0 0 2.5rem;
}
.blogshare {
    display: flex;
    border-radius: 1rem;
    border: 1px solid #36393c;
    height: 10vh;
    width: 20vw;
    margin: 0 0 0 2.5rem;
}
.blogshare button {
    margin: auto;
    height: 50%;
    width: 95%;
    border-radius: 5px;
}
.blogshare img {
    height: 15px;
    width: 15px;
}
/*======== About =========*/
.aboutpage {
    display: flex;
    background-color: #000000;
    padding-top: 2rem;
}
.aboutmeintro {
    letter-spacing: 1.5px;
    color: #ffffff;
    font-family: "Clash Display";
    font-size: 1rem;
    margin: auto;
    z-index: 1;
}
.aboutmeintro button {
    height: 5vh;
    width: 10vw;
    background-color: #296ebd;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
}
.aboutme {
    font-family: "Clash Display";
    color: #fff;
    margin: 5rem 10rem 0 10rem;
    text-align: center;
    letter-spacing: 1.5px;
}
.headshot img {
    height: 300px;
    width: 300px;
    padding-right: 10rem;
    filter: drop-shadow(1rem 1rem 1rem #272626);
}
.skills {
    position: absolute;
    height: 5vh;
    width: 100%;
    background-color: #fff;
    overflow: hidden;

}
.skillstxt {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    animation: move 20s linear infinite;
    transform: translateX(100%);
}
.skillstxt2 {
    margin: -2.6rem 0 0 0;
    animation-delay: 9.7s;
}

.skills li {
    margin-top: 0.6rem;
    font-family: "Inter";
    font-weight: 700;
}

@keyframes move {
    to{transform: translateX(-100%);}
}

/*======== Projects =========*/
.project {
    display: flex;
    background-image: linear-gradient(to right, rgba(0, 0, 96, 0.411), rgb(0, 0, 0) 50%);
    padding-bottom: 2rem;
}
.project2 {
    display: flex;
    background-image: linear-gradient(to left, rgba(0, 0, 96, 0.411), rgb(0, 0, 0) 50%);
    padding-bottom: 2rem;
}
.projectimgbox {
    position: relative;
    border-radius: 2rem;
    border-style: solid;
    border-color: white;
    height: 70vh;
    width: 40vw;
    margin: 2rem 0 0 5rem;
    overflow: hidden;
    display: flex;
}
.projectimgbox2 {
    border-radius: 2rem;
    border-style: solid;
    border-color: white;
    height: 70vh;
    width: 40vw;
    margin: 2rem 0 0 5rem;
}
.projectimgbox img{
    height: 35vh;
    width: 25vw;
    filter: drop-shadow(0rem 1rem 2rem #272626);
}
.projectdesc {
    color: #fff;
    font-family: "Clash Display";
    width: 40vw;
    margin: 12.5rem 0 0 2rem;
    letter-spacing: 1px;
}
.projectdesc2 {
    display: flex;
    flex-direction: row-reverse;
    color: #fff;
    font-family: "Clash Display";
    margin: 15rem 0 0 10rem;
    letter-spacing: 1px;
    width: 38vw;
}
.preview {
    margin: 0px 0 0 10px;
    border-radius: 5px;
    height: 25px;
    width: 75px;
    background-color: #296ebd;
    color: #fff;
    border: none;
    cursor: pointer;
}
/*======== Contact =========*/
.formpage {
    display: flex;
    font-family: 'Clash Display';
}
.sidetext {
    display: block;
    color: #fff;
    font-size: 5em;
    padding: 5rem 0 0 10rem;
}
.textfill {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    color: #fff;
    fill: none;
}
.contactform {
    padding: 5rem 0 0 10rem;
}
.labeltext {
    display: flex;
    color: #fff;
    font-size: 0.75em;
    padding-bottom: 1rem;
}
.forminput {
    display: block;
    color: #fff;
    font-size: 15px;
    border-radius: 1px;
    line-height: 20px;
    background-color: transparent;
    border: 1px solid #242628;
    padding: 8px;
    margin-bottom: 15px;
    width: 60vh;
    box-sizing: border-box;
    outline:0;
    font-family: 'Clash Display';
    resize: none;
}
.messageinput {
    display: block;
    color: #fff;
    font-size: 15px;
    border-radius: 1px;
    line-height: 20px;
    background-color: transparent;
    border: 1px solid #242628;
    padding: 8px;
    margin-bottom: 15px;
    height: 25vh;
    width: 60vh;
    box-sizing: border-box;
    outline:0;
    font-family: 'Clash Display';
    resize: none;
}
[type = "submit"] {
    color: #e3e3e3;
    font-size: 10px;
    border-radius: 1px;
    line-height: 15px;
    background-color: #296ebd;
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    outline:0;
    cursor: pointer;
    border-style: none;
}
.icons {
    margin: auto;
}
.icons img{
    display: block;
    margin-top: 2.5rem;
    height: 75px;
    width: 75px;
    border-radius: 1rem;

}